// $dark-blue: #1D063A;
a {
  color:$forth-color;
  text-decoration: none;
  &:hover {
    color: $second-color;
  }
}

.btn-white {
  color: $main-color;
  padding: 16px 36px;
  border-radius: 4px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid $main-color;
}

.btn-white:hover {
  background: $main-color;
  color: white;
}

.btn-small-white {
  color: $main-color;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid $main-color;
}

.btn-small-white:hover {
  background: $main-color;
  color: white;
}


#button-book-in-show-places {
  color: white;
  text-decoration: none;
  &:hover {
    color: black;
}
}
