.card-index {
  overflow: hidden;
  width: 400px;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-grid;
  justify-content: center;

}

.card-index img {
  height: 100%;
  width: 350px;
  object-fit: cover;
  margin-bottom: 16px;
}

.card-index h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
