<%= render 'shared/searchbar' %>
<% if user_signed_in? %>
    <div class="container">
      <%= render 'shared/indexPlaceUser' %>
      <%= render 'shared/indexPlaceOtherUser' %>
    </div>
  <% else %>
    <div class="container">
      <%= render 'shared/indexPlaceAll' %>
    </div>
  <% end %>
