<div class="container mt-5">
  <p><strong>Places detail</strong></p>
    <div class="row">
        <div class="col">
          <div class="card p-3 mt-3">
            <img src ="<%= @place.picture_url %>">
            <div>
              <h2><%= @place.name %> </h2>
              <p><%= @place.address%> </p>
              <p><%= @place.price %> </p>
            </div>
          </div>
        </div>
    </div>
</div>

